rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /sellerApplications/{userId} {
      allow create: if request.auth != null
        && request.auth.uid == userId
        && request.resource.data.keys().hasOnly([
          'uid',
          'country',
          'sellerType',
          'businessName',
          'legalName',
          'taxId',
          'representativeName',
          'email',
          'phone',
          'productCategory',
          'businessDescription',
          'status',
          'role',
          'createdAt',
          'updatedAt'
        ])
        && request.resource.data.uid == request.auth.uid
        && request.resource.data.email == request.auth.token.email
        && request.resource.data.country == 'PE'
        && request.resource.data.status == 'pending'
        && request.resource.data.role == 'seller'
        && request.resource.data.createdAt == request.time
        && request.resource.data.updatedAt == request.time;

      allow read: if request.auth != null
      && (
        request.auth.uid == userId
        || request.auth.token.email == "vignahome@vignahome.com"
      );

    allow update: if request.auth != null
      && request.auth.token.email == "vignahome@vignahome.com"
      && request.resource.data.diff(resource.data).affectedKeys()
        .hasOnly(["status", "reviewedAt", "reviewedBy"])
      && request.resource.data.status in ["pending", "approved", "rejected"]
      && request.resource.data.reviewedAt == request.time
      && request.resource.data.reviewedBy == request.auth.token.email;

    allow delete: if false;
    }

    match /products/{productId} {
      allow read: if resource.data.status == "published"
        || (
          request.auth != null
          && (
            resource.data.sellerId == request.auth.uid
            || request.auth.token.email == "vignahome@vignahome.com"
          )
        );

      allow create: if request.auth != null
        && exists(/databases/$(database)/documents/sellerApplications/$(request.auth.uid))
        && get(/databases/$(database)/documents/sellerApplications/$(request.auth.uid)).data.status == "approved"
        && request.resource.data.keys().hasOnly([
          "sellerId",
          "sellerName",
          "name",
          "sku",
          "category",
          "description",
          "price",
          "stock",
          "status",
          "createdAt",
          "updatedAt"
        ])
        && request.resource.data.sellerId == request.auth.uid
        && request.resource.data.sellerName is string
        && request.resource.data.name is string
        && request.resource.data.sku is string
        && request.resource.data.category is string
        && request.resource.data.description is string
        && request.resource.data.price is number
        && request.resource.data.price >= 0
        && request.resource.data.stock is int
        && request.resource.data.stock >= 0
        && request.resource.data.status == "draft"
        && request.resource.data.createdAt == request.time
        && request.resource.data.updatedAt == request.time;

      allow update: if request.auth != null
        && resource.data.sellerId == request.auth.uid
        && get(/databases/$(database)/documents/sellerApplications/$(request.auth.uid)).data.status == "approved"
        && request.resource.data.sellerId == resource.data.sellerId
        && request.resource.data.createdAt == resource.data.createdAt
        && request.resource.data.status == resource.data.status
        && request.resource.data.diff(resource.data).affectedKeys().hasOnly([
          "sellerName",
          "name",
          "sku",
          "category",
          "description",
          "price",
          "stock",
          "updatedAt"
        ])
        && request.resource.data.updatedAt == request.time;

      allow delete: if request.auth != null
        && resource.data.sellerId == request.auth.uid
        && resource.data.status == "draft";
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}