rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /sellerApplications/{userId} {
      allow create: if request.auth != null
        && request.auth.uid == userId
        && request.resource.data.keys().hasOnly([
          'uid',
          'country',
          'sellerType',
          'businessName',
          'legalName',
          'taxId',
          'representativeName',
          'email',
          'phone',
          'productCategory',
          'businessDescription',
          'status',
          'role',
          'createdAt',
          'updatedAt'
        ])
        && request.resource.data.uid == request.auth.uid
        && request.resource.data.email == request.auth.token.email
        && request.resource.data.country == 'PE'
        && request.resource.data.status == 'pending'
        && request.resource.data.role == 'seller'
        && request.resource.data.createdAt == request.time
        && request.resource.data.updatedAt == request.time;

      allow read: if request.auth != null
      && (
        request.auth.uid == userId
        || request.auth.token.email == "vignahome@vignahome.com"
      );

    allow update: if request.auth != null
      && request.auth.token.email == "vignahome@vignahome.com"
      && request.resource.data.diff(resource.data).affectedKeys()
        .hasOnly(["status", "reviewedAt", "reviewedBy"])
      && request.resource.data.status in ["pending", "approved", "rejected"]
      && request.resource.data.reviewedAt == request.time
      && request.resource.data.reviewedBy == request.auth.token.email;

    allow delete: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}